.button {
    flex-grow: 0;
    margin-top: 2%;
    margin-right: 0;
    margin-bottom: 2%;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 10px;
    width: 70%;
    left: auto;
    right: auto;
    height: initial;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
    -unity-text-outline-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 50%;
    border-top-width: 0;
    border-bottom-width: 0;
    flex-shrink: 0;
    min-width: auto;
    min-height: auto;
    flex-basis: 10%;
    -unity-text-align: middle-left;
    white-space: nowrap;
    -unity-font-style: bold;
    word-spacing: 0;
    letter-spacing: 0;
    -unity-paragraph-spacing: 0;
    text-shadow: 0 0 0 rgb(0, 0, 0);
}

.imageFrame {
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-top: 5%;
    margin-bottom: 0;
    height: 100%;
}

.button2 {
    flex-grow: 0;
    margin-top: 1%;
    margin-right: 0;
    margin-bottom: 1%;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 10px;
    width: 70%;
    left: auto;
    right: auto;
    height: initial;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap-reverse;
    -unity-text-outline-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 50%;
    border-top-width: 0;
    border-bottom-width: 0;
    flex-shrink: 0;
    min-width: auto;
    min-height: auto;
    flex-basis: 10%;
    -unity-text-align: middle-left;
    white-space: nowrap;
    -unity-font-style: bold;
    word-spacing: 0;
    letter-spacing: 0;
    -unity-paragraph-spacing: 0;
    text-shadow: 0 0 0 rgb(0, 0, 0);
}

.Image-Text {
    margin-right: 2%;
}
